[tool.black]
line-length = 119
target-version = ["py37"]

[tool.isort]
profile = "black"
lines_after_imports = 2
line_length = 119

[tool.pylint."MASTER"]
load-plugins = "pylintfileheader"
file-header = "(# Copyright \\(c\\) \\d{4} .*\\n)*# This software is distributed under the terms of the MIT license\\n# which is available at https://opensource.org/licenses/MIT\\n\\n"

[tool.pylint."MESSAGES CONTROL"]
disable = [
    "too-many-arguments",
    "invalid-name",
    "line-too-long",  # checked by flake8
    "fixme",
    "too-many-instance-attributes",
    "protected-access",
    "broad-except",
    "too-few-public-methods",
    "arguments-differ",
    "consider-using-f-string",
    "no-else-return",
    "no-member",
    "no-else-continue"
]
